<div class="chat-header">
  <div class="header-box">
    <div class="title">
    <a href="#">hogehoge</a>
    </div>
    <div class="end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="messages">
    <div class="message">
      <div class="upper-comment">
        <div class="comment-user">
          Tom
        </div>
        <div class="create-time">
          2020/3/31(Wed) 12:43:30 
        </div>
      </div>
      <div class="comment">
        Hello
      </div>
    </div>
    <div class="message">
      <div class="upper-comment">
        <div class="comment-user">
          Kevin
        </div>
        <div class="create-time">
          2020/3/31(Wed) 12:44:30 
        </div>
      </div>
      <div class="comment">
        Hi
      </div>
    </div>
  </div>
</div>

<div class="chat-box">
  <div class="comment-box">
    <input type="text" placeholder="text a message" class="commit">
    <label class="comment-image">
      <span class="iamge-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" placeholder="Send" class="send">
</div>