
<div class="side-header">
  <div class="head-text">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="room-btn">
    <a href="#">ルームを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">TechRoom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">TechRoom2</a>
    </div>
  </div>
</div>
