
<div class="side-header">
  <div class="head-text">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="room-btn">
    <%= link_to "チャットルームを作成する", new_room_path %>
  </div>
</div>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
                <%# ↓変数表示名を指定               ↓引数にすることでメッセージに紐付いているルームにidを持たせる %>
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>
